/* src/App.css */

.app-container {
  text-align: center;
  padding: 20px;
  font-family: 'Arial, sans-serif';
}

.app-title {
  font-size: 3em;
  margin-bottom: 10px;
  color: #333;
}

.blog-description {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #555;
}

.add-post-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-post-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.add-post-button:focus {
  outline: none;
}
